.wrapper
- const upDog = dog.toUpperCase();
  p.hello Hello my dog name is #{upDog}
  img.dog(src="https://cdn1.royalcanin.es/wp-content/uploads/2016/03/comportamiento-perro.jpg", alt=`Dog ${dog}`)

h2
  |  Hello
  em How are you?